<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="currencyExchangeBaseUrl" value="https://api.exchangeratesapi.io/" />
    <add key="newsBaseUrl" value="https://newsapi.org/v2/" />
    <add key="newsApiKey" value="51f7b51d45f74a2889ed67b4e4b42b50" />
    <add key="newsLoadingPageSize" value="20" />
  </appSettings>
</configuration>